[submodule "tools-indic"]
	path = tools-indic
	url = https://gitlab.com/indicproject/Indic-Keyboard-tools.git
[submodule "dictionaries-indic"]
	path = dictionaries-indic
	url = https://gitlab.com/indicproject/dictionaries.git
[submodule "ime"]
	path = ime
	url = https://gitlab.com/indicproject/android-ime.git
[submodule "inputmethodcommon"]
	path = inputmethodcommon
	url = https://android.googlesource.com/platform/frameworks/opt/inputmethodcommon
