[submodule "morelangs"]
	path = morelangs
	url = git@github.com:androidtweak/java-morelangs.git
[submodule "tools-indic"]
	path = tools-indic
	url = git@github.com:androidtweak/Indic-Keyboard-tools.git
