[submodule "tools-indic"]
	path = tools-indic
	url = https://github.com/androidtweak/Indic-Keyboard-tools.git
[submodule "dictionaries-indic"]
	path = dictionaries-indic
	url = https://github.com/androidtweak/dictionaries.git
[submodule "ime"]
	path = ime
	url = https://gitlab.com/smc/android-ime.git
