<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Indic Keyboard Input Test"
        android:icon="@android:drawable/sym_def_app_icon"
        android:theme="@android:style/Theme.DeviceDefault.Light">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".TestImageProvider"
            android:authorities="org.smc.inputtest.clip"
            android:exported="false"
            android:grantUriPermissions="true" />
        <service
            android:name=".TestAutofillService"
            android:label="Indic Test Autofill"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
            <meta-data
                android:name="android.autofill"
                android:resource="@xml/test_autofill_service" />
        </service>
    </application>
</manifest>
